<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenSAE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpenSAE.Properties.Settings>
            <setting name="RecentFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ApplyToneCurve" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GuideLinesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxRecentFiles" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="HelpShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowImageOverlays" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BrowseWindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="BrowseWindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="BrowseWindowPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayFlags" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PsoDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupManagerWindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="BackupManagerWindowWidth" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>0</value>
            </setting>
        </OpenSAE.Properties.Settings>
    </userSettings>
</configuration>